<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ partial "head.html" . }}

    {{ partial "head_custom.html" . }}
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    {{ partial "header.html" . }}
    <section class="section">

        <h2 class="title is-2">{{ .Title }}</h2>
        
        <div class="content">
            {{ .Content }}
        </div>


    </section>

    <hr>

    {{ partial "footer.html" . }}
    {{ partial "base-foot.html" . }}
</body>

</html>